.idea/*
dpc-user-management-module.iml
node_modules
vendor
dev/vendor
composer.lock
dev/src/
/.csslintrc
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/.htaccess
/INSTALL.txt
/README.txt
/autoload.php
/example.gitignore
/index.php
/robots.txt
/update.php
/web.config
